<!DOCTYPE html>
{% extends "base.html" %}
{% block body_block %}
  <h1 class="text-center">Mowing Records</h1>
  <div class="row">
    <div class="col-sm-4">
      <a href="{% url 'record:home' %}" class="btn btn-primary form-control post-link text-center">Home</a>
    </div>
    <div class="col-sm-4">
      <a href="{% url 'record:farm' %}" class="btn btn-primary form-control post-link text-center">Farm</a>
    </div>
    <div class="col-sm-4">
      <a href="{% url 'record:trails' %}" class="btn btn-primary form-control post-link text-center">Trails</a>
    </div>
  </div>
  <table class="table">
    <tr>
      <th>Location</th>
      <th>Direction</th>
      <th>Date</th>
    </tr>
    {% for record in records %}
      <tr>
        <td>{{ record.location }}</td>
        <td>{{ record.direction }}</td>
        <td>{{ record.date }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
